.home {
  height: 100%;
  width: 100%;
  .search {
    margin-top: 25vh;
    height: 500px;
    display: flex;
    flex-direction: column;
    .focus {
      width: 595px;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-size: 60px;
        margin: 20px 0;
      }
    }
    form {
      .search-input-wrapper {
        width: 595px;
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
        input {
          border: 1px solid rgb(218, 218, 218);
          height: 50px;
          font-size: 15px;
          width: 500px;
          font-weight: 600;
          padding-left: 48px;
          border-radius: 10px;
        }
        input:focus {
          outline: none;
          -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
        }
        input::placeholder {
          color: rgb(184, 184, 184);
        }
        input:hover {
          transition: 0.18s;
          transition-timing-function: ease-in-out;
          -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
          -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
        }
        .active {
          border-radius: 10px 10px 0 0;
        }
        button {
          height: 50px;
          border-radius: 10px;
          border: none;
          padding: 10px 0;
          width: 85px;
          cursor: pointer;
          background-color: #3080f8;
          color: #fff;
          font-size: 15px;
          font-weight: 600;
        }
        button:focus {
          outline: none;
        }
        button:hover {
          background-color: #1267e7;
        }
      }
    }
  }
  .results-wrapper {
    width: 595px;
    margin: 0 auto;
    .results {
      border-top: 2px solid rgb(218, 218, 218);
      width: 500px;
      height: 362px;
      overflow-y: scroll;
      font-size: 16px;
      border-radius: 0 0 10px 10px;
      transition: 0.18s;
      transition-timing-function: ease-in-out;
      -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.05);
      .result {
        display: flex;
        flex-direction: column;
        padding: 10px;
        cursor: pointer;
        max-height: 90px;
        color: #000;
        text-decoration: none;
        .top {
          display: flex;
          align-items: center;

          span {
            margin: 0;
            margin-left: 10px;
            font-weight: 500;
          }
          .subscribers {
            font-weight: 300;
            font-size: 13px;
            color: #8a8a8a;
          }
          .more {
            margin-left: 35px;
            font-weight: 300;
          }
        }
        img {
          border-radius: 50px;
          height: 25px;
          padding-top: 0px;
          background-color: #dddddd;
        }
      }
      .result:hover {
        background: rgb(238, 238, 238);
      }
      .loading {
        border: 1px solid red;
        text-align: center;
      }
    }
  }
}

// NAVIGATION
.navigation {
  margin: 30px;
  a {
    text-decoration: none;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #df8b80;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  a:focus {
    outline: none;
  }
  a:hover {
    background-color: #ff2a2a;
  }
  .active-nav {
    background-color: #ff2a2a;
  }
}
