@import "../global/variables.scss";
@import "../global/mixins.scss";

.featured-container {
  .featured {
    h1 {
      font-weight: 700;
      margin-bottom: 25px;
    }
    .hashtags {
      p {
        @include center;
        border: 1px dashed grey;
        height: 35px;
        margin-top: 5px;
        padding: 5px;
        font-weight: 600;
        span {
          font-weight: 400;
          margin-left: 8px;
        }
      }
    }
  }
}
