@import "../global/variables.scss";
@import "../global/mixins.scss";

.featured-container {
  position: sticky;
  top: -278px;
  z-index: -1;
  .featured {
    margin-top: 33px;
    border-radius: 8px;
    font-size: 15px;
    .section-a,
    .section-b {
      background: $background-secondary;
      h1 {
        font-weight: 600;
        margin: 16px 0;
        color: $primary;
      }
      padding-left: 12.5px;
      border: 2px solid #37393d;
      border-radius: 8px;
      width: 300px;
      color: $tertiary;
      p {
        @include center;
        border-top: 1px solid #37393d;
        height: 35px;
        margin-top: 5px;
        padding: 5px;
        font-weight: 400;
        font-size: 14px;
        span {
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }
    .section-b {
      margin-top: 15px;
    }
  }
}
