@import "../global/variables.scss";
@import "../global/mixins.scss";

.feed-container {
  .feed {
    h1 {
      font-weight: 600;
      font-size: 15px;
      color: $primary;
      margin-left: 8px;
    }
    .loader-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 5px;
      svg {
        margin-top: 15px;
        border: 3px solid #1d1f24;
        border-radius: 12px;
      }
    }
    .general {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0 5px;
      .post {
        cursor: default;
        text-decoration: none;
        color: $tertiary;
        width: 236px;
        height: 270px;
        margin-top: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $background-secondary;
        // -webkit-box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
        // -moz-box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
        // box-shadow: 0px 0px 3px 2px rgba(245, 245, 245, 1);
        border: 3px solid #1d1f24;
        font-size: 14px;
        border-radius: 12px;
        line-height: 1.2;
        .source {
          height: 38px;
          @include center;
          color: $tertiary;

          .media {
            display: flex;
            align-items: center;
            p {
              font-weight: 500;
              margin-left: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 122px;
            }
            img {
              height: 38px;
              width: 38px;
              border-radius: 100px;
            }
          }
        }
        .preview {
          img {
            background-color: #26282e;
            height: 117px;
            width: 210px;
          }
          p {
            margin-top: 3px;
            text-align: left;
            font-weight: 400;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .title {
            font-weight: 600;
          }
        }
        .options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .details {
            color: $background-secondary;
            font-weight: 700;
          }
          a:hover {
            svg {
              color: $primary;
            }
          }
        }
      }
      .post:hover {
        transition: 0.2s ease-in-out;
        border: 3px solid #37393d;
      }
      .post:hover .details {
        color: #fa0202be;
      }
    }
    .loader-spinner {
      margin: 40px auto 0 auto;
    }
  }
  .error {
    color: $primary;
    font-weight: 600;
    margin: 120px auto;
    width: 400px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $background-secondary;
    button {
      background: $primary;
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      color: $secondary;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }
    button:hover {
      background: $primary-dark;
    }
    // button:focus {

    // }
  }
}
