@import "../global/variables.scss";
@import "../global/mixins.scss";

.navigation-container {
  border-bottom: 1px solid $border;
  height: 49px;
  background-color: #141519;
  top: 0;
  width: 100%;
  position: fixed;
  .navigation {
    max-width: 1200px;
    height: 49px;
    margin: 0 auto;
    @include center;
    .left {
      @include center;
      height: 49px;
      margin: 0 20px;
      color: $tertiary;
      .search-container {
        max-width: 500px;
        .search {
          width: 100%;
          form {
            input {
              height: 33px;
              border: 1px solid $tertiary;
              border-radius: 3px;
              background: $secondary;
              padding: 0 10px;
              min-width: 300px;
              margin-left: 20px;
              color: $primary;
            }
            input::placeholder {
              color: $tertiary;
            }
            input:focus {
              outline: none;
              border: 1px solid $primary;
            }
            input:hover {
              border: 1px solid $primary;
            }
          }
        }
      }
    }
    .right {
      .router {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        a {
          @include center;
          text-decoration: none;
          height: 49px;
          padding: 0 14px;
          color: $tertiary;
          font-weight: 600;
          font-size: 15px;
        }
        a:last-child {
          margin-right: 0;
        }
        .active-nav {
          color: $primary;
        }
        .login,
        .signup {
          box-sizing: border-box;
          height: 33px;
          border-radius: 3px;
          padding: 0 26px;
          margin: 0 10px;
        }
        .login {
          border: 1px solid $primary;
          color: $primary;
        }
        .signup {
          background-color: $primary;
          color: $secondary;
        }
        .signup:focus {
          background-color: $primary-dark;
        }
        .signup:hover {
          background-color: $primary-dark;
        }
      }
    }
  }
}
